$light-text-color: rgb(92, 99, 100);
$footer-border-color: #ddd;
$light-green: rgb(156, 190, 47);
$dark-green: rgb(76, 176, 52);
$mobile-menu-background: rgb(128, 158, 31);
$cta-color: rgb(140, 100, 199);